.wrapper{
    width: 100%;
    height: 3.5rem;
    padding: 0.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.navbar_background{
    width: 32%;
}
.navbar_close{
    width: 100%;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar a{
    color: black;
    text-decoration: none;
    font-weight: 300;
    position: relative;
}
.navbar a::after{
    content: '';
    width: 0%;
    height: 2px;
    left: 0;
    top: 20px;
    position: absolute;
    background-color: black;
    transition: ease-in .3s;
}
.navbar a:hover::after{
    width: 100%;
}
.close{
    display: none;
}
.dark_light_mode .mode i{
    font-size: 2rem;
}
.menu{
    color: black;
    font-size: 1.8rem;
    display: none;
}
body.dark-mode .navbar a{
    color: white;
}
body.dark-mode .navbar a::after{
    background-color: white;
}

@media(max-width: 908px){
    .navbar_background{
        width: 40%;
    }
}

@media(max-width: 822px){
    .wrapper .menu{
        z-index: 1000;
    }
    .navbar_background{
        display: none;
    }
    .menu{
        display: block;
    }
    .dark_light_mode{
        display: none;
    }
    .wrapper .navbar_background.active{
        z-index: 2000;
        position: fixed;
        left: 0;
        top: 0;
        background-color: white;
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        animation: 1 .5s start-in forwards;
    }
    .wrapper .navbar_background.active .navbar_close{
        padding: 1%;
        height: 30%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        animation: 1 .75s start-in forwards;
    }
    .wrapper .navbar_background.active .navbar_close .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 70%;
        height: 70%;
    }
    .wrapper .navbar_background.active .navbar_close .navbar a::after{
        content: '';
        height: 6px;
        border-radius: 1rem;
    }
    .close{
        display: block;
        font-size: 2rem;
        align-self: flex-start;
        justify-content: flex-end;
    }
    body.dark-mode .navbar_background.active .navbar_close .navbar a{
        color: black;
    }
    body.dark-mode .close{
        color: black;
    }
    body.dark-mode .menu{
        color: white;
    }
}

@keyframes start-in {
    from{
        transform: translateX(-500px);
    }to{
        transform: translateX(0);
    }
}